@for $i from 0 through 100 {
  .progress progress[value="#{$i}"] {
    & ~ .progress-bg .progress-bar { width: $i * 1% }
  }
}

.progress {
  width: 100%;
  height: 6px;

  progress {
    display: none;

    &[value="100"] {
      & + .progress-bg .progress-bar {
        transition-property: width;
        transition-duration: 0s;
      }
    }
  }

  .progress-bg {
    background: var(--darker-color);
    position: relative;
    height: 100%;

    .progress-bar {
      background: var(--font-main-color);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      transition: width .2s linear;
    }
  }
}
