.skills-area {
  margin-top: 40px;

  .label {
    font-size: var(--large-font);
    font-weight: normal;
    margin-bottom: 10px;
  }

  .skills-list {
    display: flex;
    justify-content: space-between;

    .skills-list-item {
      @include flex-center;
      width: 64px;
      height: 64px;
      background: #454545;
      position: relative;

      .time-left {
        @include flex-center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.666);
        z-index: 1;
      }

      img {
        transform: scale(0.6);
      }
    }
  }
}
