.skills-area {
  margin-top: 40px;

  .label {
    font-size: var(--large-font);
    font-weight: normal;
    margin-bottom: 10px;
  }

  .skills-list {
    display: flex;
    justify-content: space-between;

    .skills-list-item {
      width: 64px;
      height: 64px;
      background: #454545;
    }
  }
}
