.settings-audio-controls {
  .audio-controls-list {
    display: flex;
    align-items: center;

    .audio-control {

      &:active {
        transform: scale(0.8);
      }

      img {
        width: 36px;
        height: 36px;
      }
    }
  }
}
