@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  font-family: Ubuntu, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-main-color);
  cursor: default;
  user-select: none;
}

img {
  pointer-events: none;
}

ul {
  list-style: none;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

body {
  background: var(--primary-color);
  font-size: var(--default-font);
}

.container {
  max-width: var(--working-width);
  margin: 0 auto;
  height: 100%;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
