.void-specter-monster {
  .runes {
    transform-origin: center;
    animation: void-specter-rotate 20s linear infinite;
  }
  @keyframes void-specter-rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
