:root {
  // sizes
  --working-width: 1040px;
  --options-block-width: 500px;
  --monster-block-width: 360px;
  --upgrade-card-height: 90px;
  --smallest-font: 12px;
  --small-font: 14px;
  --default-font: 16px;
  --large-font: 18px;
  --loader-skull-scale: 2.8;
  --loader-sword-scale: 2.3;

  // background colors
  --primary-color: #303030;
  --darker-color: #202020;
  --darkest-color: #101010;

  // font colors
  --font-main-color: #fafafa;
  --font-sub-color: #b0b0b0;
}
