@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin working-area {
  width: var(--options-block-width);
  height: calc(100vh - 120px);
  margin: 20px 10px 20px;
}

@mixin scroll-bar-y {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--darker-color);
  }

  &::-webkit-scrollbar-thumb {
    background: #727272;
  }
}

@mixin scroll-bar {
  .scroll-wrapper {
    @include scroll-bar-y;

    height: calc(100% - 40px);
    overflow-y: scroll;
  }

  .upgrade-list {
    margin-right: 16px;
  }
}
